<h1>Photos</h1>
<ul class="list">
  <% @photos.each do |photo| %>
    <div class="photo">
      <div class="image">
        <%= image_tag photo.image %>
      </div>
      <div class="caption">
        <p><%= photo.caption %></p>
      </div>
    </div>
  <% end %>
</ul>