.info{

    margin: 5px;
    border-bottom: 1px dashed gray;
    padding: 5px;

}

.two {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    min-height: 208px;
}

.button_field {
  margin-bottom: 10px;
}