#container {
  width: 960px;
  margin: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#answers {
  margin-top: 10px;
}

.top-bar {
    font-family: 'Play', sans-serif;
    a {
        font-family: 'Play', sans-serif;
        font-size: 30px;
    }
}
.welcome {
  color: white;
  text-align: center;
  margin-top: 60px;
}

body.home {
          /* set up a background image */
        background-color:blue;
        background: url('Fant.jpg');

        /* the follow is the code to have the image display as a full page */
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover; /* the next 3 lines are "browser
prefixes", they are necessary to include for CSS3 techniques */
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}