#container {
  width: 960px;
  margin: auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

#answers {
  margin-top: 10px;
}
.top-bar {
    font-family: 'Play', sans-serif;
    a {
        font-family: 'Play', sans-serif;
    }
}